<div class="bg-slate-100 border-[3px] border-slate-100 hover:border-slate-600 hover:shadow-xl rounded-lg mb-8">
    <div class="w-full h-48 p-1">
        <img class="rounded-t-lg object-cover w-full h-48" src="./assets/images/{{ item?.thumbnail}}" alt=""/> 
    </div>
    <div class="pt-6 px-6 pb-4">
        <div>
            <div class="mb-2">
                <h3 class="flex text-lg font-semibold items-center">
                    {{ item?.title }}
                    <span *ngIf="item?.ongoing" class="px-2 py-0.5 ml-2 bg-yellow-100 text-yellow-600 rounded-full text-xs font-medium" >Ongoing</span> 
                    <span *ngIf="!item?.ongoing" class="px-2 py-0.5 ml-2 bg-green-100 text-green-600 rounded-full text-xs font-medium">Finised</span> 
                </h3>
            </div>
            <p class="text-xs font-medium text-slate-800 mb-2">{{ item?.description }}</p>
            <div>
                <div *ngFor="let tag of item?.tags" class="px-2 mb-1 mr-2 inline-block py-0.5 rounded-full text-xs font-medium bg-blue-100 text-blue-600">
                    {{ tag }}
                </div>
            </div>   
        </div>
        <div class="flex justify-between px-2 mt-4 pt-4 space-x-8 mr-4 border-t-2 border-slate-200">    
            <div *ngFor="let link of item?.links" class="flex items-center text-blue-600 font-medium md:text-xs text-sm">
                <a href="{{ link.link }}" target="_blank" rel="noreferrer">{{ link.type }}</a>
                <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3 ml-1"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path strokeLinecap="round" strokeLinejoin="round" strokeWidth="1.5" d="M14 5l7 7m0 0l-7 7m7-7H3" />
                </svg>
            </div>
        </div>
    </div>
</div>

<!--  -->
<!-- <div class="bg-white shadow-md hover:shadow-lg rounded-lg mb-8 inline-block"></div> -->